HEADERS = {Your User agent}
KAGGLE_KEY = Your Kaggle API KEY
KAGGLE_USERNAME = Your Kaggle Username
HF_TOKEN = Your Hugging face key
GDRIVE_MODEL_FOLDER_ID = Folder where the models are stocked
API_URL = URL for the deployed API
API_URL_LOCAL = localhost URL (http://127.0.0.1:8000 for example)
DATABASE_URL = Local SQlite or Postgres
